# Patterns to ignore when building Helm packages.
.DS_Store
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/

# CI/dev helpers that shouldn't ship inside the chart tarball.
CHANGELOG.md
tests/
